.menu-card {
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.price {
  color: orangered;
  font-weight: bold;
}

/* Tag */
.tag {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.tag.veg {
  background: green;
  color: white;
}

.tag.non-veg {
  background: red;
  color: white;
}